<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/profissional.css}">
    <title th:text="${profissional.nome} + ' - MediSinais'"></title>
</head>
<body>
    <header class="page-header" th:replace="~{fragments/navbar :: ${logado} ? 'navbarLogado' : 'navbar'}"></header>
    <!-- Nav bar -->
    <section>
        <main>
            <div class="return-box">
                <a href="/pesquisa">
                <span><ion-icon name="arrow-back-outline"></ion-icon></span>
                Voltar
                </a>
            </div>
            <div class="profissional-box">
                <div class="img-container">
                    <img th:if="${foto != null}" th:src="'data:image/jpeg;base64,' + ${foto}" alt="imagem do profissional">
                    <img th:unless="${foto != null}" th:src="@{/assets/userIcon.png}" alt="imagem padrão">
                </div>
                <div class="information-container">
                    <h2 th:text="${profissional.nome}"></h2>
                    <li id="endereco" th:text="${profissional.endereco.rua} + ' - ' + ${profissional.endereco.bairro}
                    + '. ' + ${profissional.endereco.cidade} + '-' + ${profissional.endereco.uf}"></li>
                    <p th:text="${profissional.telefone}">
                        <span th:text="'(' + ${#strings.substring(profissional.telefone, 0, 2)} + ') '"></span>
                        <span th:text="${#strings.substring(profissional.telefone, 2, 7)}"></span>
                        <span th:text="'-'"></span>
                        <span th:text="${#strings.substring(profissional.telefone, 7)}"></span>
                    </p>
                    <p>Aceita plano de saúde:</p>
                    <ul th:each="plano : ${profissional.planosAceitos}">
                        <li th:text="${plano.nome}"></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="date-box">
                <div class="title">
                    <h3>Datas de atendimento</h3>
                </div>
                <div class="calendar"></div>
            </div>
        </main>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>