<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/professional.css}">
    <title>MediSinais</title>
</head>
<body>
    
    <header class="page-header">
        <div class="logo">
            <img class="nav-img" th:src="@{/assets/icons8-vulcan-salute-48.png}" alt="logo MediSinais">
            <a href="#back-to-home">MediSinais</a>
        </div>
        <nav>
            <ul class="navbar-links">
                <li>
                    <a href="#evento">O serviço</a>
                </li>
                <li>
                    <a href="#funcionamento">Como funciona</a>
                </li>
                <li>
                    <a href="#contato">Contato</a>
                </li>
            </ul>
        </nav>
        <div class="head-btns">
            <a href="#">
                <button class="login-btn">Login</button>
            </a>
            <a href="#">
                <button class="register-btn">Cadastre-se</button>
            </a>
        </div>
    </header>
    <section>
        <main>
            <div class="return-box">
                <span><ion-icon name="arrow-back-outline"></ion-icon></span>
                <a href="#">Voltar</a>
            </div>
            <div class="profissional-box">
                <div class="img-container">
                    <img src="" alt="imagem do profissional">
                </div>
                <div class="information-container">
                    <h2>Livia Maria Ribeiro</h2>
                    <p>Rua Timbaúba, 269, Magano Garanhuns-PE</p>
                    <p><span><ion-icon name="call-outline"></ion-icon></span> (87) 2627-4547</p>
                    <p>Aceita plano de saúde:</p>
                    <ul>
                        <li>Bradesco</li>
                        <li>Bradesco</li>
                        <li>Bradesco</li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="date-box">
                <div class="title">
                    <h3>Datas de atendimento</h3>
                </div>
                <div class="calendar"></div>
            </div>
        </main>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>